<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/common/element/index.css">
    <script src="/common/vue/vue.js"></script>
    <script src="/common/element/index.js"></script>
    <style>
        html, body, #app, .el-container, .el-aside, .el-menu, iframe {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app" style="padding-right: 10px">
    <el-container>
        <el-aside style="width: 200px;">
            <el-menu @select="open">
                <el-submenu v-for="menu in menus" :index="menu.index">
                    <template slot="title"><i :class="menu.icon"></i>{{menu.name}}</template>
                    <el-menu-item v-for="sub in menu.subs" :index="sub.index">{{sub.name}}</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-container>
            <iframe style="width:100%;border: none" :src="iframeSrc"></iframe>
        </el-container>
    </el-container>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            menus: [
                {
                    index: '1',
                    name: '系统配置',
                    icon: 'el-icon-setting',
                    subs: [
                        {
                            index: '/page/database.html',
                            name: '数据库配置'
                        },
                        {
                            index: '/page/table.html',
                            name: '数据表配置'
                        },
                    ]
                }, {
                    index: '2',
                    name: '数据',
                    icon: 'el-icon-setting',
                    subs: []
                }
            ],
            iframeSrc: ''
        },
        created: function () {
            this.iframeSrc = this.menus[0].subs[0].index;
        },
        methods: {
            open: function (index) {
                this.iframeSrc = index
            }
        }
    })
</script>
</html>