<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/common/element/index.css">
    <script src="/common/vue/vue.js"></script>
    <script src="/common/vue/vue-resource.js"></script>
    <script src="/common/element/index.js"></script>
    <script src="/common/vue/vueComponent.js"></script>
</head>
<body>
<div id="app" v-loading.fullscreen.lock="fullscreenLoading">
    <el-row>
        <el-alert title="数据导入" type="success"></el-alert>
    </el-row>

    <el-row>
        <el-form :inline="true">
            <el-form-item :label="fileName">
                <el-button type="success" @click="isShowUpload = true" size="small">上传文件</el-button>
            </el-form-item>
            <el-form-item label="数据表">
                <el-select v-model="tableId" placeholder="请选择数据表" style="width: 100%" size="small" clearable>
                    <el-option v-for="item in tableOptions" :label="item.label" :value="item.value"
                               size="small"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="分列符">
                <el-select v-model="split" placeholder="请选择分列符" style="width: 100%" size="small" clearable>
                    <el-option v-for="item in splitOptions" :label="item.label" :value="item.value"
                               size="small"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="预览数量">
                <el-input-number v-model="previewCount" size="small" :min="1" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="preview" size="small">预览</el-button>
                <el-button type="success" @click="saveData" size="small">保存</el-button>
            </el-form-item>
        </el-form>
    </el-row>

    <el-table :data="lines" border :cell-style="{'text-align': 'center'}" max-height="600"
              :header-cell-style="{'text-align': 'center','background-color': '#f5f7fa'}">
        <el-table-column v-for="(item,index)  in maxLineSize">
            <template slot="header" slot-scope="scope">
                <el-select v-model="heads[index]" placeholder="请选择表头" style="width: 100%" size="small" clearable>
                    <el-option v-for="item in columns" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </template>
            <template slot-scope="scope">{{scope.row[index]}}</template>
        </el-table-column>
    </el-table>

    <el-dialog title="上传文件" :visible.sync="isShowUpload" width="30%">
        <el-form label-width="100px">
            <el-form-item label="文件">
                <el-upload ref="upload" class="upload-demo" action="/data/upload" :on-success="handleUploadSuccess"
                           :multiple="false" :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                </el-upload>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button size="small" @click="isShowUpload = false">取 消</el-button>
            <el-button type="primary" size="small" @click="submitUpload">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            tableId: '',
            fileName: '',
            tmpFileName: '',
            split: '',
            previewCount: 50,

            tableOptions: [],
            splitOptions: [{
                label: '英文逗号',
                value: 'comma'
            }, {
                label: '制表符',
                value: 'tab'
            }],

            maxLineSize: 0,
            heads: [],
            columns: [],
            lines: [],

            isShowUpload: false,
            fullscreenLoading: false
        },
        created: function () {
            this.getTables();
        }
        ,
        methods: {
            getTables: function () {
                this.$http.get('/database/getTablePage', {
                    params: {
                        pageSize: 100,
                        currentPage: 1
                    }
                }).then(function (res) {
                    let data = res.body;
                    if (data) {
                        for (let i = 0; i < data.list.length; i++) {
                            var table = data.list[i];
                            this.tableOptions.push({
                                label: table.tableName + '(' + table.tableDesc + ')',
                                value: table.id,
                            });
                        }
                    } else {
                        console.log(res);
                    }
                }).catch(function (res) {
                    console.log(res);
                });
            }
            ,
            submitUpload() {
                this.$refs.upload.submit();
            }
            ,
            handleUploadSuccess: function (res) {
                if (res.code !== 0) {
                    this.$message.error(res.msg);
                    return;
                }
                this.fileName = res.data.fileName;
                this.tmpFileName = res.data.tmpFileName;
                this.isShowUpload = false;
            }
            ,
            preview: function () {
                if (!this.tmpFileName) {
                    this.$message.error('请上传文件');
                    return;
                }
                if (!this.tableId) {
                    this.$message.error('请选择数据表');
                    return;
                }
                this.$http.get('/data/preview', {
                    params: {
                        tmpFileName: this.tmpFileName,
                        tableId: this.tableId,
                        split: this.split,
                        previewCount: this.previewCount,
                    }
                }).then(function (res) {
                    this.maxLineSize = 0;
                    this.columns = [];
                    this.heads = [];
                    if (res.body.code === 0) {
                        this.maxLineSize = res.body.data.maxLineSize;
                        this.lines = res.body.data.lines;

                        let columns = res.body.data.columns;
                        for (let i = 0; i < columns.length; i++) {
                            this.heads.push(columns[i].column);
                            this.columns.push({
                                label: columns[i].desc,
                                value: columns[i].column,
                            });
                        }
                    } else {
                        console.log(res)
                    }
                }).catch(function (res) {
                    console.log(res);
                });
            },
            saveData: function () {
                if (!this.tmpFileName) {
                    this.$message.error('请上传文件');
                    return;
                }
                if (!this.tableId) {
                    this.$message.error('请选择数据表');
                    return;
                }

                var heads = {};
                for (let i = 0; i < this.heads.length; i++) {
                    var exist = heads[this.heads[i]];
                    if (exist || exist === 0) {
                        this.$message.error('第' + exist + '列和第' + i + '列表头重复');
                        return;
                    }
                    heads[this.heads[i]] = i;
                }


                this.fullscreenLoading = true;
                this.$http.post('/data/saveData', {
                    tmpFileName: this.tmpFileName,
                    tableId: this.tableId,
                    split: this.split,
                    heads: heads
                }).then(function (res) {
                    var data = res.body;
                    if (data.code === 0) {
                        app.$message.success('保存成功');
                        app.maxLineSize = 0;
                        app.columns = [];
                        app.heads = [];
                        app.lines = [];
                    } else {
                        app.$message.error(data.msg);
                    }
                    app.fullscreenLoading = false;
                }).catch(function (res) {
                    console.log(res);
                    app.$message.error('保存失败');
                    app.fullscreenLoading = false;
                });
            }
        }
    })
</script>
</html>