<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbeen.spring.database.mapper.DatabaseMapper">
    <sql id="where">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="dbDesc != null">
            and dbDesc like '%${dbDesc}%'
        </if>
        <if test="used != null">
            and used = #{used}
        </if>
    </sql>

    <select id="count" resultType="Integer" parameterType="database">
        select count(1) from t_database
        <where>
            <include refid="where"/>
        </where>
    </select>

    <select id="selectPage" resultType="database" parameterType="database">
        select * from t_database
        <where>
            <include refid="where"/>
        </where>
        limit #{begin},#{end}
    </select>

    <select id="selectOne" resultType="database" parameterType="String">
        select * from t_database where id = #{id}
    </select>

    <insert id="insertDatabase" parameterType="database">
        insert into t_database
        (id,ip,port,dbType,dbName,dbDesc,used)
        values
        (#{id},#{ip},#{port},#{dbType},#{dbName},#{dbDesc},#{used})
    </insert>

    <update id="updateDatabase" parameterType="database">
        update t_database
        <set>
            <if test="ip != null">
                ip=#{ip},
            </if>
            <if test="port != null">
                port=#{port},
            </if>
            <if test="dbType != null">
                dbType=#{dbType},
            </if>
            <if test="dbName != null">
                dbName=#{dbName},
            </if>
            <if test="dbDesc != null">
                dbDesc=#{dbDesc},
            </if>
            <if test="used != null">
                used=#{used},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteDatabase" parameterType="String">
        delete from t_database where id = #{id}
    </delete>
</mapper>