<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbeen.spring.sys.mapper.TableMapper">
    <sql id="where">
        <if test="id != null">
            and t.id = #{id}
        </if>
        <if test="dbId != null">
            and t.dbId = #{dbId}
        </if>
        <if test="tableName != null">
            and t.tableName = #{tableName}
        </if>
        <if test="tableDesc != null">
            and t.tableDesc like '%${tableDesc}%'
        </if>
    </sql>

    <select id="count" resultType="Integer" parameterType="map">
        select count(1) from t_table t left join t_database d on t.dbId=d.id
        <where>
            <include refid="where"/>
        </where>
    </select>

    <select id="selectPage" resultType="map" parameterType="map">
        select t.*,d.dbDesc from t_table t left join t_database d on t.dbId=d.id
        <where>
            <include refid="where"/>
        </where>
        limit #{skip},#{limit}
    </select>

    <select id="selectOne" resultType="table" parameterType="String">
        select * from t_table t
        <where>
            <include refid="where"/>
        </where>
        limit 1
    </select>

    <insert id="insert" parameterType="database">
        insert into t_table
        (id,dbId,tableName,tableDesc)
        values
        (#{id},#{dbId},#{tableName},#{tableDesc})
    </insert>

    <update id="update" parameterType="table">
        update t_table
        <set>
            <if test="dbId != null">
                dbId=#{dbId},
            </if>
            <if test="tableName != null">
                tableName=#{tableName},
            </if>
            <if test="tableDesc != null">
                tableDesc=#{tableDesc},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from t_table where id = #{id}
    </delete>

    <select id="selectColumnsByTableId" resultType="tableColumn" parameterType="String">
        select * from t_table_column where tableId=#{tableId}
    </select>

    <select id="deleteColumnsByTableId" parameterType="String">
        delete from t_table_column where tableId=#{tableId}
    </select>

    <insert id="insertColumns" parameterType="List">
        insert into t_table_column
        (id,tableId,columnName,columnDesc,columnType)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.tableId},#{item.columnName},#{item.columnDesc},#{item.columnType})
        </foreach>
    </insert>
</mapper>